<?php
/**
 * Created by PhpStorm.
 * User: sangtx
 * Date: 25/01/2019
 * Time: 11:01
 */

if ($data == NULL) {
	echo "Data empty";
} else {
	echo "<table>
		<tr>
			<td>Id</td>
			<td>Title</td>
			<td>Description</td>
		</tr>";

	foreach ($data as $item) {
		echo "<tr>";
		echo "<td>" . $item['Book']['id'] . "</td>";
		echo "<td>" . $item['Book']['title'] . "</td>";
		echo "<td>" . $item['Book']['description'] . "</td>";
		echo "</tr>";
	}
}



