<div id="background">
	<div id="page">
		<div id="header">
			<div id="logo">
				<a href="index.html">
					<?php echo $this->Html->image('/front-end/images/logo.png', array('alt' => 'LOGO')); ?>
				</a>
			</div>
			<div id="navigation">
				<ul id="primary">
					<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="new.html">New Arrivals</a>
					</li>
					<li>
						<a href="mens.html">Mens</a>
					</li>
					<li>
						<a href="womens.html">Womens</a>
					</li>
					<li>
						<a href="faq.html">Faq</a>
					</li>
					<li class="highlight">
						<a href="sale.html">Sale Items</a>
					</li>
				</ul>
				<ul id="secondary">
					<li>
						<a href="checkout.html">Cart</a>
					</li>
					<li>
						<a href="index.html">Login</a> | <a href="index.html">Signup</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="contents">
			<div id="adbox">
				<div id="search">
					<h3>Quick Search</h3>
					<p>
						Lorem ipsum dolor sit amet, consec tetur adipiscing elit, Praesent diam odio, commodo vittae
						sagittis vel,
					</p>
					<form action="index.html" method="post">
						<ul>
							<li>
								<select id="size">
									<option>Search by Size</option>
								</select>
							</li>
							<li>
								<select id="color">
									<option>Search by Color</option>
								</select>
							</li>
							<li>
								<select id="brand">
									<option>Search by Brand</option>
								</select>
							</li>
							<li>
								<select id="style">
									<option>Search by Style</option>
								</select>
							</li>
						</ul>
						<input type="submit" value="Find My Pair!" class="button">
					</form>
				</div>
				<?php echo $this->Html->image('/front-end/images/shop-now.jpg', array('alt' => 'Promo', 'height' => '355', 'width' => '618')); ?>
				<a href="index.html" class="button"></a>
				<span></span>
			</div>
			<div id="main">
				<div id="featured">
					<h4><span>Featured Items</span></h4>
					<ul class="items">
						<li>
							<a href="product.html">
								<?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$19.50</span>
								Cheverlyn Zespax </a>
						</li>
						<li>
							<a href="product.html">
								<?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$19.50</span>
								Cheverlyn Zespax </a>
						</li>
						<li>
							<a href="product.html">
								<?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$19.50</span>
								Cheverlyn Zespax </a>
						</li>
						<li>
							<a href="product.html"> <?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$19.50</span>
								Cheverlyn Zespax </a>
						</li>
					</ul>
				</div>
				<div id="sale">
					<h4><span>Sale Items</span></h4>
					<ul class="items">
						<li>
							<a href="product.html"> <?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$8.50</span>
								Hukbalahap Boots </a>
						</li>
						<li>
							<a href="product.html"> <?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$8.50</span>
								Hukbalahap Boots </a>
						</li>
						<li>
							<a href="product.html"> <?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$8.50</span>
								Hukbalahap Boots </a>
						</li>
						<li>
							<a href="product.html"> <?php echo $this->Html->image('/front-end/images/leather-boots.jpg', array('alt' => 'Img')); ?>
								<span>$8.50</span>
								Hukbalahap Boots </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="background">
				<div id="connect">
					<h5>Get Social With us!</h5>
					<ul>
						<li>
							<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
						</li>
						<li>
							<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
						</li>
						<li>
							<a href="http://www.freewebsitetemplates.com/go/googleplus/" target="_blank"
							   class="linkin"></a>
						</li>
					</ul>
				</div>
				<ul class="navigation">
					<li>
						<h5>Mens</h5>
						<a href="mens.html">Sneakers</a> <a href="mens.html">Boots</a> <a href="mens.html">Winter
							socks</a> <a href="mens.html">Lace-ups</a>
					</li>
					<li>
						<h5>Womens</h5>
						<a href="womens.html">Sneakers</a> <a href="womens.html">Boots</a> <a href="womens.html">Winter
							socks</a> <a href="womens.html">Lace-ups</a>
					</li>
					<li class="latest">
						<h5>New Arrivals</h5>
						<a href="new.html">Cheverlyn Zespax</a> <a href="new.html">Alta Ulterior</a> <a href="new.html">Mikee</a>
						<a href="new.html">Jeeroks Copy</a>
					</li>
					<li class="latest">
						<h5>On Sale Items</h5>
						<a href="sale.html">Cheverlyn Zespax</a> <a href="sale.html">Alta Ulterior</a> <a
							href="sale.html">Mikee</a> <a href="sale.html">Jeeroks Copy</a>
					</li>
				</ul>
				<p class="footnote">
					&copy; Copyirght &copy; 2011. <a href="index.html">Company name</a> all rights reserved.
				</p>
			</div>
		</div>
	</div>
</div>
