<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
$cakeVersion = __d('cake_dev', 'CakePHP %s', Configure::version())
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $this->fetch('title'); ?>
	</title>
	<?php
	echo $this->Html->meta('icon');

	echo $this->Html->css(array('cake.generic'));

	echo $this->fetch('meta');
	echo $this->fetch('css');
	echo $this->fetch('script');
	?>
</head>
<body>
<div id="container">
	<div id="header">
		<h1><?php echo $this->Html->link($cakeDescription, 'https://cakephp.org'); ?></h1>
	</div>
<!--	<div>-->
<!--		--><?php //echo $this->Html->image("cake.icon.png", array("alt" => "unityMTA", "url" => array("controller" => "users", "action" => "view", 3))) ?>
<!--	</div>-->
<!--	<div>-->
<!--		--><?php //echo $this->Html->link('Title Link',
//			array("full_base" => true, "controller" => "concho", "action" => "team", 1, "?" => array("height" => "400", "weight" => 500)),
//			array("class" => "sang class", "target" => "_blank")) ?>
<!--	</div>-->
<!--	<div>-->
<!--		--><?php //echo $this->Html->tag('div', 'Hello world', array("class" => "tag em", "id" => "id div")) ?>
<!--	</div>-->
<!--	<div>-->
<!--		--><?php
//		$list = array(
//			'Languages' => array(
//				'English' => array(
//					'American',
//					'UK',
//				),
//				'German',
//			)
//		);
//		echo $this->Html->nestedList($list);
//		?>
<!--	</div>-->
	<div id="content">
		<?php echo $this->Flash->render(); ?>

		<?php echo $this->fetch('content'); ?>
	</div>

<!--	<div id="footer">-->
<!--		--><?php //echo $this->Html->link(
//			$this->Html->image('cake.power.gif', array('alt' => $cakeDescription, 'border' => '0')),
//			'https://cakephp.org/',
//			array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
//		);
//		?>
<!--		<p>-->
<!--			--><?php //echo $cakeVersion; ?>
<!--		</p>-->
<!--	</div>-->
</div>
<?php //echo $this->element('sql_dump'); ?>
</body>
</html>
