<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>RubberNLaces Website Template</title>
	<?php echo $this->Html->css(array('/front-end/css/style.css')); ?>
</head>
<body>
<?php echo $this->fetch('content'); ?>
</body>
</html>
