<?php
echo $this->Html->css(array(
	'/admin/css/bootstrap.min.css',
	'/admin/css/font-awesome.min.css',
	'/admin/css/ionicons.min.css',
	'/admin/css/morris/morris.css',
	'/admin/css/jvectormap/jquery-jvectormap-1.2.2.css',
	'/admin/css/fullcalendar/fullcalendar.css',
	'/admin/css/daterangepicker/daterangepicker-bs3.css',
	'/admin/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css',
	'/admin/css/AdminLTE.css'
));
?>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
