<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<?php
echo $this->Html->script(array(
	'/admin/js/jquery-ui-1.10.3.min.js',
	'/admin/js/bootstrap.min.js',
	'/admin/js/plugins/morris/morris.min.js',
	'/admin/js/plugins/sparkline/jquery.sparkline.min.js',
	'/admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js',
	'/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js',
	'/admin/js/plugins/fullcalendar/fullcalendar.min.js',
	'/admin/js/plugins/jqueryKnob/jquery.knob.js',
	'/admin/js/plugins/daterangepicker/daterangepicker.js',
	'/admin/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js',
	'/admin/js/plugins/iCheck/icheck.min.js',
	'/admin/js/AdminLTE/app.js',
	'/admin/js/AdminLTE/dashboard.js',
	'/admin/js/AdminLTE/demo.js',
));
?>


