<div class="wrapper row-offcanvas row-offcanvas-left">
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="left-side sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<div class="user-panel">
				<div class="pull-left image">

				</div>
				<div class="pull-left info">
					<p>Hello, Jane</p>

					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div>
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..."/>
					<span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i
										class="fa fa-search"></i></button>
                            </span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="active">
					<a href="index.html">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="pages/widgets.html">
						<i class="fa fa-th"></i> <span>Widgets</span>
						<small class="badge pull-right bg-green">new</small>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-bar-chart-o"></i>
						<span>Charts</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
						<li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
						<li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline
								charts</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-laptop"></i>
						<span>UI Elements</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
						<li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
						<li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
						<li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
						<li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-edit"></i> <span>Forms</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a>
						</li>
						<li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced
								Elements</a></li>
						<li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-table"></i> <span>Tables</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple
								tables</a></li>
						<li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="pages/calendar.html">
						<i class="fa fa-calendar"></i> <span>Calendar</span>
						<small class="badge pull-right bg-red">3</small>
					</a>
				</li>
				<li>
					<a href="pages/mailbox.html">
						<i class="fa fa-envelope"></i> <span>Mailbox</span>
						<small class="badge pull-right bg-yellow">12</small>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-folder"></i> <span>Examples</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a>
						</li>
						<li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
						<li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a>
						</li>
						<li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a>
						</li>
						<li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a>
						</li>
						<li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a>
						</li>
						<li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Right side column. Contains the navbar and content of the page -->
	<aside class="right-side">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Dashboard
				<small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>
								150
							</h3>
							<p>
								New Orders
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
						<a href="#" class="small-box-footer">
							More info <i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div><!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-green">
						<div class="inner">
							<h3>
								53<sup style="font-size: 20px">%</sup>
							</h3>
							<p>
								Bounce Rate
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-stats-bars"></i>
						</div>
						<a href="#" class="small-box-footer">
							More info <i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div><!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>
								44
							</h3>
							<p>
								User Registrations
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
						<a href="#" class="small-box-footer">
							More info <i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div><!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-red">
						<div class="inner">
							<h3>
								65
							</h3>
							<p>
								Unique Visitors
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
						<a href="#" class="small-box-footer">
							More info <i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div><!-- ./col -->
			</div><!-- /.row -->

			<!-- top row -->
			<div class="row">
				<div class="col-xs-12 connectedSortable">

				</div><!-- /.col -->
			</div>
			<!-- /.row -->

			<!-- Main row -->
			<div class="row">
				<!-- Left col -->
				<section class="col-lg-6 connectedSortable">
					<!-- Box (with bar chart) -->
					<div class="box box-danger" id="loading-example">
						<div class="box-header">
							<!-- tools box -->
							<div class="pull-right box-tools">
								<button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload">
									<i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip"
										title="Collapse"><i class="fa fa-minus"></i></button>
								<button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip"
										title="Remove"><i class="fa fa-times"></i></button>
							</div><!-- /. tools -->
							<i class="fa fa-cloud"></i>

							<h3 class="box-title">Server Load</h3>
						</div><!-- /.box-header -->
						<div class="box-body no-padding">
							<div class="row">
								<div class="col-sm-7">
									<!-- bar chart -->
									<div class="chart" id="bar-chart" style="height: 250px;"></div>
								</div>
								<div class="col-sm-5">
									<div class="pad">
										<!-- Progress bars -->
										<div class="clearfix">
											<span class="pull-left">Bandwidth</span>
											<small class="pull-right">10/200 GB</small>
										</div>
										<div class="progress xs">
											<div class="progress-bar progress-bar-green" style="width: 70%;"></div>
										</div>

										<div class="clearfix">
											<span class="pull-left">Transfered</span>
											<small class="pull-right">10 GB</small>
										</div>
										<div class="progress xs">
											<div class="progress-bar progress-bar-red" style="width: 70%;"></div>
										</div>

										<div class="clearfix">
											<span class="pull-left">Activity</span>
											<small class="pull-right">73%</small>
										</div>
										<div class="progress xs">
											<div class="progress-bar progress-bar-light-blue" style="width: 70%;"></div>
										</div>

										<div class="clearfix">
											<span class="pull-left">FTP</span>
											<small class="pull-right">30 GB</small>
										</div>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua" style="width: 70%;"></div>
										</div>
										<!-- Buttons -->
										<p>
											<button class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i>
												Generate PDF
											</button>
										</p>
									</div><!-- /.pad -->
								</div><!-- /.col -->
							</div><!-- /.row - inside box -->
						</div><!-- /.box-body -->
						<div class="box-footer">
							<div class="row">
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="80" data-width="60"
										   data-height="60" data-fgColor="#f56954"/>
									<div class="knob-label">CPU</div>
								</div><!-- ./col -->
								<div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
									<input type="text" class="knob" data-readonly="true" value="50" data-width="60"
										   data-height="60" data-fgColor="#00a65a"/>
									<div class="knob-label">Disk</div>
								</div><!-- ./col -->
								<div class="col-xs-4 text-center">
									<input type="text" class="knob" data-readonly="true" value="30" data-width="60"
										   data-height="60" data-fgColor="#3c8dbc"/>
									<div class="knob-label">RAM</div>
								</div><!-- ./col -->
							</div><!-- /.row -->
						</div><!-- /.box-footer -->
					</div><!-- /.box -->

					<!-- Custom tabs (Charts with tabs)-->
					<div class="nav-tabs-custom">
						<!-- Tabs within a box -->
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
							<li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
							<li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
						</ul>
						<div class="tab-content no-padding">
							<!-- Morris chart - Sales -->
							<div class="chart tab-pane active" id="revenue-chart"
								 style="position: relative; height: 300px;"></div>
							<div class="chart tab-pane" id="sales-chart"
								 style="position: relative; height: 300px;"></div>
						</div>
					</div><!-- /.nav-tabs-custom -->

					<!-- Calendar -->
					<div class="box box-warning">
						<div class="box-header">
							<i class="fa fa-calendar"></i>
							<div class="box-title">Calendar</div>

							<!-- tools box -->
							<div class="pull-right box-tools">
								<!-- button with a dropdown -->
								<div class="btn-group">
									<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i
											class="fa fa-bars"></i></button>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">Add new event</a></li>
										<li><a href="#">Clear events</a></li>
										<li class="divider"></li>
										<li><a href="#">View calendar</a></li>
									</ul>
								</div>
							</div><!-- /. tools -->
						</div><!-- /.box-header -->
						<div class="box-body no-padding">
							<!--The calendar -->
							<div id="calendar"></div>
						</div><!-- /.box-body -->
					</div><!-- /.box -->

					<!-- quick email widget -->
					<div class="box box-info">
						<div class="box-header">
							<i class="fa fa-envelope"></i>
							<h3 class="box-title">Quick Email</h3>
							<!-- tools box -->
							<div class="pull-right box-tools">
								<button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
										title="Remove"><i class="fa fa-times"></i></button>
							</div><!-- /. tools -->
						</div>
						<div class="box-body">
							<form action="#" method="post">
								<div class="form-group">
									<input type="email" class="form-control" name="emailto" placeholder="Email to:"/>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="subject" placeholder="Subject"/>
								</div>
								<div>
									<textarea class="textarea" placeholder="Message"
											  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
								</div>
							</form>
						</div>
						<div class="box-footer clearfix">
							<button class="pull-right btn btn-default" id="sendEmail">Send <i
									class="fa fa-arrow-circle-right"></i></button>
						</div>
					</div>

				</section><!-- /.Left col -->
				<!-- right col (We are only adding the ID to make the widgets sortable)-->
				<section class="col-lg-6 connectedSortable">
					<!-- Map box -->
					<div class="box box-primary">
						<div class="box-header">
							<!-- tools box -->
							<div class="pull-right box-tools">
								<button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip"
										title="Date range"><i class="fa fa-calendar"></i></button>
								<button class="btn btn-primary btn-sm pull-right" data-widget='collapse'
										data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i
										class="fa fa-minus"></i></button>
							</div><!-- /. tools -->

							<i class="fa fa-map-marker"></i>
							<h3 class="box-title">
								Visitors
							</h3>
						</div>
						<div class="box-body no-padding">
							<div id="world-map" style="height: 300px;"></div>
							<div class="table-responsive">
								<!-- .table - Uses sparkline charts-->
								<table class="table table-striped">
									<tr>
										<th>Country</th>
										<th>Visitors</th>
										<th>Online</th>
										<th>Page Views</th>
									</tr>
									<tr>
										<td><a href="#">USA</a></td>
										<td>
											<div id="sparkline-1"></div>
										</td>
										<td>209</td>
										<td>239</td>
									</tr>
									<tr>
										<td><a href="#">India</a></td>
										<td>
											<div id="sparkline-2"></div>
										</td>
										<td>131</td>
										<td>958</td>
									</tr>
									<tr>
										<td><a href="#">Britain</a></td>
										<td>
											<div id="sparkline-3"></div>
										</td>
										<td>19</td>
										<td>417</td>
									</tr>
									<tr>
										<td><a href="#">Brazil</a></td>
										<td>
											<div id="sparkline-4"></div>
										</td>
										<td>109</td>
										<td>476</td>
									</tr>
									<tr>
										<td><a href="#">China</a></td>
										<td>
											<div id="sparkline-5"></div>
										</td>
										<td>192</td>
										<td>437</td>
									</tr>
									<tr>
										<td><a href="#">Australia</a></td>
										<td>
											<div id="sparkline-6"></div>
										</td>
										<td>1709</td>
										<td>947</td>
									</tr>
								</table><!-- /.table -->
							</div>
						</div><!-- /.box-body-->
						<div class="box-footer">
							<button class="btn btn-info"><i class="fa fa-download"></i> Generate PDF</button>
							<button class="btn btn-warning"><i class="fa fa-bug"></i> Report Bug</button>
						</div>
					</div>
					<!-- /.box -->

					<!-- Chat box -->
					<div class="box box-success">
						<div class="box-header">
							<h3 class="box-title"><i class="fa fa-comments-o"></i> Chat</h3>
							<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
								<div class="btn-group" data-toggle="btn-toggle">
									<button type="button" class="btn btn-default btn-sm active"><i
											class="fa fa-square text-green"></i></button>
									<button type="button" class="btn btn-default btn-sm"><i
											class="fa fa-square text-red"></i></button>
								</div>
							</div>
						</div>
						<div class="box-body chat" id="chat-box">
							<!-- chat item -->
							<div class="item">
								<?php echo $this->Html->image('/admin/img/avatar.png', array('alt' => 'user image', 'class' => 'online')); ?>
								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
										Mike Doe
									</a>
									I would like to meet you to discuss the latest news about
									the arrival of the new theme. They say it is going to be one the
									best themes on the market
								</p>
								<div class="attachment">
									<h4>Attachments:</h4>
									<p class="filename">
										Theme-thumbnail-image.jpg
									</p>
									<div class="pull-right">
										<button class="btn btn-primary btn-sm btn-flat">Open</button>
									</div>
								</div><!-- /.attachment -->
							</div><!-- /.item -->
							<!-- chat item -->
							<div class="item">
								<?php echo $this->Html->image('/admin/img/avatar2.png', array('alt' => 'user image', 'class' => 'offline')); ?>
								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
										Jane Doe
									</a>
									I would like to meet you to discuss the latest news about
									the arrival of the new theme. They say it is going to be one the
									best themes on the market
								</p>
							</div><!-- /.item -->
							<!-- chat item -->
							<div class="item">
								<?php echo $this->Html->image('/admin/img/avatar3.png', array('alt' => 'user image', 'class' => 'offline')); ?>
								<p class="message">
									<a href="#" class="name">
										<small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
										Susan Doe
									</a>
									I would like to meet you to discuss the latest news about
									the arrival of the new theme. They say it is going to be one the
									best themes on the market
								</p>
							</div><!-- /.item -->
						</div><!-- /.chat -->
						<div class="box-footer">
							<div class="input-group">
								<input class="form-control" placeholder="Type message..."/>
								<div class="input-group-btn">
									<button class="btn btn-success"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box (chat box) -->

					<!-- TO DO List -->
					<div class="box box-primary">
						<div class="box-header">
							<i class="ion ion-clipboard"></i>
							<h3 class="box-title">To Do List</h3>
							<div class="box-tools pull-right">
								<ul class="pagination pagination-sm inline">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
						</div><!-- /.box-header -->
						<div class="box-body">
							<ul class="todo-list">
								<li>
									<!-- drag handle -->
									<span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<!-- checkbox -->
									<input type="checkbox" value="" name=""/>
									<!-- todo text -->
									<span class="text">Design a nice theme</span>
									<!-- Emphasis label -->
									<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
									<!-- General tools such as edit or delete-->
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">Make the theme responsive</span>
									<small class="label label-info"><i class="fa fa-clock-o"></i> 4 hours</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">Let theme shine like a star</span>
									<small class="label label-warning"><i class="fa fa-clock-o"></i> 1 day</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">Let theme shine like a star</span>
									<small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">Check your messages and notifications</span>
									<small class="label label-primary"><i class="fa fa-clock-o"></i> 1 week</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
								<li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
									<input type="checkbox" value="" name=""/>
									<span class="text">Let theme shine like a star</span>
									<small class="label label-default"><i class="fa fa-clock-o"></i> 1 month</small>
									<div class="tools">
										<i class="fa fa-edit"></i>
										<i class="fa fa-trash-o"></i>
									</div>
								</li>
							</ul>
						</div><!-- /.box-body -->
						<div class="box-footer clearfix no-border">
							<button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
						</div>
					</div><!-- /.box -->

				</section><!-- right col -->
			</div><!-- /.row (main row) -->

		</section><!-- /.content -->
	</aside><!-- /.right-side -->
</div><!-- ./wrapper -->
