<div class="form-box" id="login-box">
	<div class="header">Sign In</div>
	<?php echo $this->Form->create('User'); ?>
	<?php echo $this->Form->input('username'); ?>
	<?php echo $this->Form->input('password'); ?>
<!--	<button type="submit">Sign me in</button>-->
	<?php echo $this->Form->end('Sign me in'); ?>
</div>
